{% assign product = product %}
{% assign available = product.available %}

{% if variant != blank %}
  {% assign product_id = variant.id %}
  {% assign available = variant.available %}
{% endif %}

{% assign product_id = product_id |  default: product.selected_or_first_available_variant.id %}

{% if available %}
  {%- assign open_off_canvas = ' x-data x-on:click="$store[`offCanvasCart`].openOffcanvas()" ' -%}
{% else %}
  {%- assign open_off_canvas = '' -%}
{% endif %}

{% if show_price == true or show_price == "true" %}
  {% if available %}
    {%- assign has_price_class = 'with-price' -%}
  {% endif %}
{% else %}
  {%- assign has_price_class = '' -%}
{% endif %}

{% assign button_class = button_class %}

{% if for_subscription %}
  {% assign first_selling_plan = product.selected_or_first_available_selling_plan_allocation %}
  {% assign selling_plan_id = first_selling_plan.selling_plan.id %}
  {% assign selling_plan_input = '<input type="hidden" name="selling_plan" value="' | append: selling_plan_id  | append: '">' %}
{% else %}
  {% assign selling_plan_input = "" %}
{% endif %}

<form data-product-id="{{ product_id }}" id="product-form-{{- product_id -}}" @submit.prevent.debounce.300ms="$store.cart.addToCart({{- product_id -}})">
  {% render 'product-form__hidden-input', product: product, variant: variant %}

  {{ selling_plan_input }}

  <button class="button {{ button_class }} {{ has_price_class }} add-to-cart primary" {% unless available -%} disabled {%- endunless %} {{ open_off_canvas }} data-inview>
    <div class="button-text">
      {% if available %}
        {% if button_label != blank %}
          {{ button_label }}
        {% else %}
          {{ 'products.product.add_to_cart' | t }}
        {% endif %}
      {% else %}
        {{ 'products.product.sold_out' | t }}
      {% endif %}
    </div>
    {%- if available -%}
      {%- if show_price == true or show_price == "true" -%}
        <span class="separator">—</span>
        {% if for_subscription %}
          <span class="price">{{ first_selling_plan.price | money }}</span>
          <span class="price old">{{ first_selling_plan.compare_at_price | money }}</span>
        {% else %}
          {%- render 'price', product: product -%}
        {% endif %}
      {%- endif -%}
    {%- endif -%}
  </button>
</form>
