<div class="cell card-grid-block card-slider" data-slider-id="team-grid-mobile-slider">
  <div class="card">
    {% if title != blank %}
    <div class="card-divider card-header">
        <h2 class="h4 text-center">{{ title }}</h2>
    </div>
    {% endif %}
    {% if image != blank %}
    <div class="card-image">
      <img 
        loading="lazy" 
        src="{{ image | img_url: '600x600', crop: 'center' }}" 
        srcset="{{ image | img_url: '600x600', crop: 'center' }} 1x, {{ image | img_url: '600x600', scale: 2, crop: 'center' }} 2x" 
        alt="{{ image.alt }}">

        <div class="divider-bottom divider" id="divider-bottom-{{ id }}" data-aos  data-aos-offset="-200"></div>

        <style media="screen">
          #divider-bottom-{{ id }} {
            background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 2'%3E%3Cpath fill='{{ details_bg | url_encode }}' d='M0 2v-.937l.049.002h.007c.406 0 .768-.359.902-.893h.781c.136.534.5.893.907.893h.006c.406 0 .768-.359.903-.893h.78c.135.534.5.893.906.893h.006c.406 0 .768-.359.903-.893h.78c.136.534.5.893.906.893h.007c.406 0 .767-.359.903-.893h.779c.135.534.5.893.906.893h.006a.783.783 0 0 0 .56-.252c.17-.18.288-.4.343-.64h.78c.016.06.036.121.058.18.009.024.02.045.03.066l.01.024.01.022.025.053c.021.04.045.08.071.118l.008.012.009.014c.14.217.368.361.624.394v.002l.024.003a.254.254 0 0 0 .039.004h.006c.406 0 .767-.358.903-.892h.78c.136.534.5.892.906.892h.006c.406 0 .768-.358.903-.892h.78c.135.534.498.892.905.892h.006c.407 0 .77-.358.903-.892h.78c.136.534.5.892.907.892h.006c.405 0 .767-.358.903-.892h.78c.135.534.5.892.906.892h.008c.406 0 .767-.358.902-.892h.78c.136.534.5.892.907.892h.004c.405 0 .768-.358.903-.892h.78c.136.534.5.892.906.892h.006a.784.784 0 0 0 .562-.253c.168-.18.286-.4.342-.639h.78c.016.062.035.122.058.181l.03.07.01.02.01.024V.47a1.318 1.318 0 0 0 .094.166l.009.012.008.014a.873.873 0 0 0 .623.395v.002l.024.003a.254.254 0 0 0 .04.004h.006c.405 0 .767-.358.903-.892h.78c.135.534.5.892.906.892h.006c.406 0 .768-.358.903-.892h.78c.136.534.5.892.906.892h.006c.406 0 .768-.358.903-.892h.78c.136.534.5.892.906.892h.006c.406 0 .768-.358.903-.892h.78c.136.534.5.892.906.892h.007c.405 0 .767-.358.903-.892h.78c.135.534.5.892.906.892h.006c.405 0 .767-.358.903-.892h.78c.136.534.5.892.906.892h.006a.784.784 0 0 0 .56-.252l.002-.001c.169-.179.287-.4.343-.638h.78c.016.061.035.122.058.18.009.024.02.046.03.068l.01.022.012.027a.694.694 0 0 0 .021.046c.024.044.05.084.072.118l.009.013.008.013a.873.873 0 0 0 .622.395v.002l.024.003a.254.254 0 0 0 .04.004h.006c.406 0 .767-.359.903-.893h.78c.135.534.5.893.906.893h.006c.406 0 .769-.359.903-.893h.78c.136.534.5.893.906.893h.006c.406 0 .768-.359.904-.893h.78c.135.534.5.893.906.893h.006c.406 0 .768-.359.902-.893h.781c.135.534.5.893.906.893h.006c.406 0 .768-.359.903-.893h.78c.136.534.5.893.906.893h.007c.405 0 .767-.359.902-.893h.782c.135.534.5.893.906.893h.006a.784.784 0 0 0 .56-.252V.812c.169-.179.287-.399.342-.638h.78c.016.062.036.122.058.182l.027.06.013.028.01.023v.002a.792.792 0 0 0 .095.167l.006.011.01.016a.873.873 0 0 0 .624.395v.002l.023.003a.257.257 0 0 0 .04.004h.006c.406 0 .767-.358.903-.892h.78c.136.534.5.892.906.892h.006c.406 0 .768-.358.903-.892h.781c.135.534.499.892.906.892h.005c.406 0 .769-.358.903-.892h.781c.136.534.5.892.906.892h.006c.406 0 .769-.358.903-.892h.78c.136.534.5.892.906.892h.007c.405 0 .767-.358.903-.892h.78c.135.534.5.892.906.892h.006c.406 0 .767-.358.903-.892h.78c.136.534.5.892.906.892h.006a.789.789 0 0 0 .561-.252V.813a1.39 1.39 0 0 0 .343-.638h.78c.016.061.035.122.059.18.008.023.017.043.026.064l.012.026.011.025a.792.792 0 0 0 .095.167L85 .648l.01.016a.873.873 0 0 0 .622.395v.002l.025.003a.25.25 0 0 0 .039.004h.006c.406 0 .769-.358.903-.892h.78c.136.534.5.892.906.892h.007c.405 0 .767-.358.902-.892h.78c.136.534.5.892.906.892h.007c.405 0 .767-.358.903-.892h.78c.136.534.5.892.906.892h.007c.405 0 .767-.358.903-.892h.78c.135.534.522.892.93.892l.002.932H0Z'/%3E%3C/svg%3E");
          }
        </style>
    </div>
    {% endif %}
    {% if details != blank %}
    <div class="card-section card-details" style="background: {{ details_bg }};">
      <div class="inner">
        <p>{{ details }}</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>




