{% if block.settings.embed_form != blank %}
  {{ block.settings.embed_form }}
{% else %}
  {% assign form_id = section.id | prepend: 'form-' %}

  {% form 'contact', id: form_id, class: 'form-section__form' %}
    {% comment %} Success message {% endcomment %}
    {% if form.posted_successfully? %}
      <p>{{ block.settings.success_message }}</p>
    {% endif %}

    {% comment %} Error messages {% endcomment %}
    {% if form.errors %}
      {% for field in form.errors %}
        <span class="errors">
          {% if field == 'form' %}
            {{ form.errors.messages[field] }}
          {% else %}
            <strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}
          {% endif %}
        </span>
      {% endfor %}
    {% endif %}

    {%- content_for "blocks" -%}
  {% endform %}
{% endif %}
{% schema %}
  {
    "name": "Contact Form",
    "class": "form-section",
    "settings": [
      {
        "type": "textarea",
        "id": "embed_form",
        "label": "Embed Form Code"
      },
      {
        "type": "text",
        "id": "success_message",
        "label": "Success message (Native Forms)",
        "default": "Thanks for contacting us! We'll get back to you as soon as possible."
      }
    ],
    "blocks": [
      { "type": "_contact-form__email" },
      { "type": "_contact-form__field" },
      { "type": "_contact-form__dropdown" },
      { "type": "_contact-form__submit" }
    ],
    "presets": [
      {
        "name": "Contact Form",
        "blocks": [
          { "type": "_contact-form__email" },
          { "type": "_contact-form__field" },
          { "type": "_contact-form__dropdown" },
          { 
            "type": "_contact-form__field",
            "settings": {
              "type": "textarea"
            }
          },
          { "type": "_contact-form__submit" }
        ]
      }
    ]
  }
{% endschema %}
