{%- assign text_alignment = section.settings.text_alignment -%}
{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign color_theme = section.settings.color_theme -%}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;"
  {%- endcapture -%}
{%- endif -%}

{%- if block.settings.enable_overlay -%}
  {%- assign has_overlay_class = "has-overlay" -%}
  {%- capture overlay_style -%}
    style="
      --mobile-overlay: {{ block.settings.overlay_mobile }};
      --desktop-overlay: {{ block.settings.overlay_desktop }};
    "
  {%- endcapture -%}
{%- else -%}
  {%- assign has_overlay_class = "" -%}
  {%- assign overlay_style = "" -%}
{% endif %}

<div class="image-banner {{ has_overlay_class }}"
  data-image-parallax
  {{ overlay_style }}>
  {% if block.settings.mobile_image != blank or block.settings.desktop_image != blank %}
    {% render 'component__responsive-image-v2',
      image_mobile: block.settings.mobile_image,
      image_desktop: block.settings.desktop_image,
      lazyload: block.settings.lazyload %}
  {% else %}
    {%- capture svg_code -%}{{- 'lifestyle-2' | placeholder_svg_tag -}}{%- endcapture -%}
    {% render 'component__svg-encoder', svg_code: svg_code, alt: "placeholder image" %}
  {% endif %}
</div>
<div class="grid-container {{ container_width }}" {{ max_width_style }}>
  <div class="grid-x alignment-helper {{ color_theme }} {{ text_alignment }}">
    <div class="cell small-12 large-12 section-content"
      data-stagger-inview=".section-icon__wrapper, .section-content__small-text, .section-content__text, .section-content__button">
      {%- content_for "block", type: "_section-content", id: "section-content" -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image Slide",
    "class": "image-video-banner__image-slide mfr-carousel__item",
    "settings": [
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Image for Mobile"
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Image for Desktop"
      },
      {
        "type": "header",
        "content": "Overlay Settings"
      },
      {
        "type": "checkbox",
        "id": "lazyload",
        "label": "Lazyload?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_overlay",
        "label": "Enable Overlay",
        "default": false
      },
      {
        "type": "color_background",
        "id": "overlay_mobile",
        "label": "Overlay - Mobile"
      },
      {
        "type": "color_background",
        "id": "overlay_desktop",
        "label": "Overlay - Desktop"
      }
    ],
    "presets": [
      {
        "name": "Image Slide",
        "blocks": [
          {
            "type": "_section-content",
            "id": "section-content",
            "static": true,
            "blocks": [
              { "type": "_section-content__title" }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
