{% comment %} {% assign disable_animation = true %} {% endcomment %}
{% comment %}
    Attributes

    - block_id
    - text
    - header_style
    - bold_color
    - underline_color
    - max_width
{% endcomment %}

{% assign block_id = block.id %}
{% assign text = block.settings.heading %}
{% assign header_style = block.settings.header_style %}
{% assign color = block.settings.color %}
{% assign highlight_color = block.settings.highlight_color %}
{% assign underline_color = block.settings.underline_color %}
{% assign disable_animation = block.settings.disable_animation %}
{% assign custom_font = block.settings.font_family %}
{% assign max_width_mobile = block.settings.max_width_mobile %}
{% assign max_width_desktop = block.settings.max_width_desktop %}
{% assign margin_top = block.settings.margin_top %}
{% assign margin_bottom = block.settings.margin_bottom %}

{% if color != "" and color != "rgba(0,0,0,0)" %}
  {% assign has_custom_color = "has-custom-color" %}
  {% assign color_style = "color: " | append: color | append: ";" %}
{% else %}
  {% assign has_custom_color = "" %}
  {% assign color_style = "" %}
{% endif %}

{% if underline_color != "" and underline_color != "rgba(0,0,0,0)" %}
  {% assign has_underline_class = "has-underline" %}
{% else %}
  {% assign has_underline_class = "" %}
{% endif %}

<style>
  #shopify-block-{{ block.id }} {
    --highlight-color: {{ highlight_color }};
    {% if max_width_mobile != blank and max_width_mobile != 0 %}
      --max-width-mobile: {{ max_width_mobile }}px;
    {% endif %}
    {% if max_width_desktop != blank and max_width_desktop != 0 %}
      --max-width-desktop: {{ max_width_desktop }}px;
    {% endif %}
    {% if margin_top != blank %}
      --margin-top: {{ margin_top }}px;
    {% endif %}
    {% if margin_bottom != blank %}
      --margin-bottom: {{ margin_bottom }}px;
    {% endif %}
    {% if highlight_color != "" and highlight_color != "rgba(0,0,0,0)" %}
      --underline-color: {{ underline_color }};
    {% endif %}
  }
</style>

<{{ block.settings.header_tag }}
  id="block--{{ block_id }}"
  class="section-title {{ has_custom_color }} {% unless request.visual_preview_mode %}{{ header_style }}{% else %}h2{% endunless %} {{ has_underline_class }} {{ custom_font }}"
  data-inview>
  <span class="visually-hidden">{{ text }}</span>
  <div class="section-title__inner"
    style="{{ color_style }}"
    {% unless disable_animation %}
      data-split-text="fadeUp"
    {% endunless %}>
    {% render 'shortcode-renderer',
      text: text %}
  </div>
</{{ block.settings.header_tag }}>

{% schema %}
  {
    "name": "Section Title",
    "class": "section-title__wrapper",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Heading Text",
        "label": "Heading Text"
      },
      {
        "type": "checkbox",
        "id": "disable_animation",
        "label": "Disable Animation",
        "default": false
      },
      {
        "type": "select",
        "id": "header_style",
        "options": [
          { "value": "h1 xl-title", "label": "H1 - Oversize"},
          { "value": "h1", "label": "H1"},
          { "value": "h2", "label": "H2"},
          { "value": "h3", "label": "H3"},
          { "value": "h4", "label": "H4"},
          { "value": "h5", "label": "H5"},
          { "value": "h6", "label": "H6"}
        ],
        "label": "Heading Style",
        "default": "h1"
      },
      {
        "type": "select",
        "id": "header_tag",
        "options": [
          { "value": "h2", "label": "<h2></h2> (Default)"},
          { "value": "h3", "label": "<h3></h3>"},
          { "value": "h4", "label": "<h4></h4>"},
          { "value": "h5", "label": "<h5></h5>"},
          { "value": "h6", "label": "<h6></h6>"}
        ],
        "label": "Heading Tag",
        "default": "h2",
        "info": "This is for accessibility and SEO purposes. If you are not sure what to choose, select <h2></h2> (Default)."
      },
      {
        "type": "select",
        "id": "font_family",
        "label": "Custom Font Family",
        "options": [
          {
            "value": "",
            "label": "Use Theme Settings"
          },
          {
            "value": "custom-font-name-1",
            "label": "Custom Font 1"
          },
          {
            "value": "custom-font-name-2",
            "label": "Custom Font 2"
          },
          {
            "value": "custom-font-name-3",
            "label": "Custom Font 3"
          },
          {
            "value": "custom-font-name-4",
            "label": "Custom Font 4"
          }
        ],
        "default": ""
      },
      {
        "type": "header",
        "content": "Color Settings"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text Color",
        "info": "Leave it blank to use system settings."
      },
      {
        "type": "color",
        "id": "highlight_color",
        "label": "Highlight Color",
        "info": "This will change the color of all bolded text."
      },
      {
        "type": "color",
        "id": "underline_color",
        "label": "Underline Color",
        "info": "This will add underline (with the set color) to all bolded text."
      },

      {
        "type": "header",
        "content": "Width Settings"
      },
      {
        "type": "number",
        "id": "max_width_mobile",
        "label": "Max Width - Mobile",
        "default": 0,
        "info": "in pixels"
      },
      {
        "type": "number",
        "id": "max_width_desktop",
        "label": "Max Width - Desktop",
        "default": 0,
        "info": "in pixels"
      },
      {
        "type": "header",
        "content": "Margin Settings"
      },
      {
        "type": "number",
        "id": "margin_top",
        "label": "Margin Top",
        "info": "Margin top in pixels"
      },
      {
        "type": "number",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "info": "Margin bottom in pixels"
      }
    ],
    "presets": [
      {
        "name": "Section Title",
      }
    ]
  }
{% endschema %}
