<div class="star-rating-text__inner">
  <div class="star-rating-text__stars">
    {%- capture stars_svg -%}
      {%- assign color = section.settings.color_scheme.settings.icons -%}
      {%- assign count = block.settings.star_rating -%}
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="24">
        <path fill="{{ color | default: 'currentColor' }}" d="M12 18L4.9465771 21.708204L6.2936611 13.854102L0.58732182 8.2917957L8.4732885 7.1458979L12 0L15.526711 7.1458979L23.412678 8.2917957L17.706339 13.854102L19.053423 21.708204L12 18Z" fill-rule="evenodd"/>
        <path
          {% if count >= 2 %}
            fill="{{ color | default: 'currentColor' }}"
          {% else %}
            fill="transparent"
            stroke="{{ color | default: 'currentColor' }}"
          {% endif %} 
          transform="translate(26 0)" d="M12 18L4.9465771 21.708204L6.2936611 13.854102L0.58732182 8.2917957L8.4732885 7.1458979L12 0L15.526711 7.1458979L23.412678 8.2917957L17.706339 13.854102L19.053423 21.708204L12 18Z" fill-rule="evenodd"/>
        <path
          {% if count >= 3 %}
            fill="{{ color | default: 'currentColor' }}"
          {% else %}
            fill="transparent"
            stroke="{{ color | default: 'currentColor' }}"
          {% endif %} 
          transform="translate(52 0)" d="M12 18L4.9465771 21.708204L6.2936611 13.854102L0.58732182 8.2917957L8.4732885 7.1458979L12 0L15.526711 7.1458979L23.412678 8.2917957L17.706339 13.854102L19.053423 21.708204L12 18Z" fill-rule="evenodd"/>
        <path
          {% if count >= 4 %}
            fill="{{ color | default: 'currentColor' }}"
          {% else %}
            fill="transparent"
            stroke="{{ color | default: 'currentColor' }}"
          {% endif %} 
          transform="translate(78 0)" d="M12 18L4.9465771 21.708204L6.2936611 13.854102L0.58732182 8.2917957L8.4732885 7.1458979L12 0L15.526711 7.1458979L23.412678 8.2917957L17.706339 13.854102L19.053423 21.708204L12 18Z" fill-rule="evenodd"/>
        <path
          {% if count >= 5 %}
            fill="{{ color | default: 'currentColor' }}"
          {% else %}
            fill="transparent"
            stroke="{{ color | default: 'currentColor' }}"
          {% endif %} 
          transform="translate(104 0)" d="M12 18L4.9465771 21.708204L6.2936611 13.854102L0.58732182 8.2917957L8.4732885 7.1458979L12 0L15.526711 7.1458979L23.412678 8.2917957L17.706339 13.854102L19.053423 21.708204L12 18Z" fill-rule="evenodd"/>
      </svg>
    {%- endcapture -%}
    {% render 'component__svg-encoder',
      svg_code: stars_svg,
      width: 128,
      alt: "stars" %}
  </div>
  <p class="star-rating-text__text">
    {{ block.settings.text }}
  </p>
</div>
{% schema %}
  {
    "name": "Star Rating Text",
    "class": "star-rating-text",
    "settings": [
      {
        "type": "range",
        "id": "star_rating",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "☆",
        "label": "Stars",
        "default": 5
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Over 2,000+ verified 5-star reviews"
      }
    ],
    "presets": [
      {
        "name": "Star Rating Text"
      }
    ]
  }
{% endschema %}
