<!doctype html>
  <!--
  ========================================================================================================
  =============================== Site by MANUFACTUR.co ==================================================
  ========================================================================================================
  -->
  <html class="no-js" lang="{{ shop.locale }}">
    <head>
<!-- Start of Shoplift scripts -->
{% render 'shoplift' %}
<!-- End of Shoplift scripts -->

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="{{ settings.brand_color }}">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

      {% render 'preload__fonts' %}

      <style media="screen">
        {%- render 'foundation-min' -%}
        {%- render 'quickload-css' -%}
      </style>

      {%- render 'css-variables' -%}
      {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}

      {% if settings.favicon != blank %}
        <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
        <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '32x32' }}">
      {% endif %}

      {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}

      <title>{{ shop.name }}</title>

      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}

      {%- render 'meta-tags' -%}

      {{ content_for_header }}

      <script src="{{ 'alpinejs-plugins.min.js' | asset_url }}" defer></script>
      <script src="{{ 'alpinejs.min.js' | asset_url }}" defer></script>
    {% include 'pagefly-app-header' %}</head>

    <body class="template-password">
      <main role="main" id="MainContent">
        {{ content_for_layout }}
      </main>
    </body>
  </html>

  <script type="application/ld+json">
    {%- liquid
      assign socials_array = "twitter,facebook,pinterest,instagram,tumblr,snapchat,youtube,vimeo" | split: ","
      assign same_as_links = ""
      assign separator = ""

      for social in socials_array
        assign key = "social_" | append: social | append: "_link"
        assign url = settings[key]
        if url != blank
          assign same_as_links = same_as_links | append: separator  | append: '"'  | append: url | append: '"'
          assign separator = ","
        endif
      endfor
    -%}
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ shop.name }}",
      "logo": "https:{{ 'logo.png' | asset_url }}",
      "sameAs": [{{ same_as_links }}],
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>