<section class="page-404 background align-center">
  <div class="page-404__wrapper grid-container full section-header">
    <div class="page-404__content text-center">
      <div class="page-404__title">
        <h1 class="h1 no-margin">{{ 'templates.404.subtext' | t }}</h1>
      </div>
      <div class="content-margin page-404__body">
        <h2 class="h3">{{ 'templates.404.title' | t }}</h2>
        <p>{{ 'templates.404.description' | t }}</p>
        <a href="/" class="button primary" aria-label="{{ 'general.continue_shopping' | t }}">
          <span class="text">{{ 'general.continue_shopping' | t | capitalize }}</span>
        </a>
      </div>
    </div>
  </div>
</section>