{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "hero.css" %}
{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign color_theme = section.settings.color_theme -%}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;"
  {%- endcapture -%}
{%- endif -%}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 100}}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 100 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 100 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 100 }}px;
{% endcapture %}

{% render 'section__settings-styles' %}

<section class="mfr-core__hero-section {{ custom_class }} " id="{{ section_id }}">
  <div class="section-spacer background {{ grid_gutter }}" style="{{ spacer }}">
    <div class="grid-container {{ container_width }}" {{ max_width_style }}>
      <div class="grid-x alignment-helper"
        data-stagger-inview=".hero-section__icon-text">
        <div class="cell small-12 large-12 carousel "
          data-mfr-carousel="
          {
            prevNextButtons: true,
            contain: true,
            cellAlign: 'center',
            pageDots: true,
            wrapAround: false,
            groupCells: true
          }
        ">
          {% content_for "block", type: "_hero-section__slides", id: "slides" %}
        </div>
      </div>
    </div>

    {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__accent-graphics' -%}
  {%- render 'component__section-dividers', is_video_background: true -%}

{% schema %}
{
  "name": "Hero Section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.offcanvas",
      "custom.modals",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "",
          "label": "Contain"
        }
      ],
      "label": "Width",
      "default": "full"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "Max Content Width",
      "default": 0
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        {
          "value": "",
          "label": "No Margin"
        },
        {
          "value": "grid-gutter-mobile",
          "label": "On Mobile"
        },
        {
          "value": "grid-gutter-desktop",
          "label": "On Desktop"
        },
        {
          "value": "grid-gutter-mobile grid-gutter-desktop",
          "label": "On Both"
        },
      ],
      "label": "Section Margin",
    },
    {
      "type": "header",
      "content": "Alignment Settings"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Alignment - Mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "Content Alignment - Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing_mobile",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Top Spacing",
      "default": 100
    },
    {
      "type": "range",
      "id": "bottom_spacing_mobile",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Bottom Spacing",
      "default": 100
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing_desktop",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Top Spacing",
      "default": 100
    },
    {
      "type": "range",
      "id": "bottom_spacing_desktop",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Bottom Spacing",
      "default": 100
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "divider_1",
          "label": "Custom Divider 1"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "scale",
          "label": "Scale"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "divider_1",
          "label": "Custom Divider 1"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Hero Section",
      "blocks": [
        {
          "type": "_hero-section__slides",
          "id": "slides",
          "static": true,
          "blocks": [
            {
              "type": "_hero-section__slide",
              "blocks": [
                {
                  "type": "_section-content__small-text"
                },
                {
                  "type": "_section-content__title"
                },
                {
                  "type": "_section-content__button"
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}