{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-core__image-video-text-section.css" %}
{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign color_theme = section.settings.color_theme -%}
{%- assign custom_class = section.settings.custom_class -%}

{% if section.settings.media_column_size == "one-third" %}
  {% assign media_col = "large-4" %}
  {% assign content_col = "large-8" %}
{% elsif section.settings.media_column_size == "half" %}
  {% assign media_col = "large-6" %}
  {% assign content_col = "large-6" %}
{% elsif section.settings.media_column_size == "two-thirds" %}
  {% assign media_col = "large-8" %}
  {% assign content_col = "large-4" %}
{% elsif section.settings.media_column_size == "whole" %}
  {% assign media_col = "large-12" %}
  {% assign content_col = "large-12" %}
{% endif %}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;"
  {%- endcapture -%}
{%- endif -%}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 100}}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 100 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 100 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 100 }}px;
{% endcapture %}

{% render 'section__settings-styles' %}

<style>
  #{{ section_id }} {
    --vertical-alignment: {{ section.settings.vertical_alignment | default: 'center' }};
  }
</style>

<section class="mfr-core__image-video-text-section {{ custom_class }} background" id="{{ section_id }}"
  data-desktop-layout="{{ section.settings.text_side_desktop }}"
  data-mobile-layout="{{ section.settings.text_side_mobile }}">
  <div class="section-spacer {{ grid_gutter }}" style="{{ spacer }}">
    <div class="grid-container {{ container_width }}" {{ max_width_style }}>
      <div class="grid-x alignment-helper {{ color_theme }} ">
        <div class="cell small-12 {{ media_col }} section-media" {% if section.settings.enable_sticky %}data-mfr-sticky-container=".image-video-text__carousel-inner"{% endif %}>
          {%- content_for "block", type: "_image-video-text__carousel", id: "image-video-text-carousel" -%}
        </div>
        <div class="cell small-12 {{ content_col }} section-content"
          data-stagger-inview=".section-icon__wrapper, .section-content__small-text, .section-content__text, .section-content__button, .accordion__wrapper, .mfr-list__wrapper li">
          {%- content_for "block", type: "_section-content", id: "section-content" -%}
          {%- content_for "blocks" -%}
        </div>
      </div>
    </div>

    {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__section-dividers', is_video_background: true -%}
  {% content_for "block", type: "_accent-graphics", id: "accent-graphics" %}
</section>


{% schema %}
{
  "name": "Image/Video Text Section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.offcanvas",
      "custom.modals",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "media_column_size",
      "label": "Media Column Size",
      "options": [
        {
          "value": "one-third",
          "label": "1/3"
        },
        {
          "value": "half",
          "label": "1/2"
        },
        {
          "value": "two-thirds",
          "label": "2/3"
        },
        {
          "value": "whole",
          "label": "1/1"
        }
      ],
      "default": "half"
    },
    {
      "type": "select",
      "id": "text_side_desktop",
      "options": [
        { "value": "text-left", "label": "Text Left" },
        { "value": "text-right", "label": "Text Right" },
        { "value": "text-top", "label": "Text Top" },
        { "value": "text-bottom", "label": "Text Bottom" }
      ],
      "label": "Desktop Layout",
      "default": "text-left"
    },
    {
      "type": "select",
      "id": "text_side_mobile",
      "options": [
        { "value": "text-top", "label": "Text Top" },
        { "value": "text-bottom", "label": "Text Bottom" }
      ],
      "label": "Mobile Layout",
      "default": "text-bottom"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable Sticky?",
      "default": false
    },
    {
      "type": "header",
      "content": "Alignment Settings"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Alignment - Mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "Content Alignment - Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "",
          "label": "Contain"
        }
      ],
      "label": "Width",
      "default": "full"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "Max Content Width",
      "default": 0
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        {
          "value": "",
          "label": "No Margin"
        },
        {
          "value": "grid-gutter-mobile",
          "label": "On Mobile"
        },
        {
          "value": "grid-gutter-desktop",
          "label": "On Desktop"
        },
        {
          "value": "grid-gutter-mobile grid-gutter-desktop",
          "label": "On Both"
        },
      ],
      "label": "Section Margin",
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "divider_1",
          "label": "Custom Divider 1"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "scale",
          "label": "Scale"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "divider_1",
          "label": "Custom Divider 1"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "blocks": [
    {
      "type": "_section-content"
    },
    {
      "type": "_list-wrapper"
    },
    {
      "type": "_accordion"
    },
    {
      "type": "_add-to-cart"
    }
  ],
  "presets": [
    {
      "name": "Image/Video Text Section",
      "blocks": [
        {
          "type": "_section-content",
          "id": "section-content",
          "static": true,
          "blocks": [
            {
              "type": "_section-content__title"
            },
            {
              "type": "_section-content__text"
            },
            {
              "type": "_section-content__button"
            }
          ]
        },
        {
          "type": "_image-video-text__carousel",
          "id": "image-video-text-carousel",
          "static": true,
          "blocks": [
            { "type": "_image-video-text__image-slide" },
          ]
        }
      ]
    }
  ]
}
{% endschema %}