{%- capture mobile_menu_content -%}
  {% render 'style-tags__section', asset_file_name: "offcanvas-menu.css", lazyload: true %}
  {% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: "offCanvasMenu" %}
  {% assign search_block = section.blocks | where: "type", "search" | first %}
  {% assign inner_menus = section.blocks | where: "type", "inner_menu" %}
  {% assign inner_menu_products = section.blocks | where: "type", "inner_menu_product" %}
  {% assign inner_menu_menus = section.blocks | where: "type", "inner_menu_menu" %}
  {% assign inner_menu_ctas = section.blocks | where: "type", "inner_menu_cta" %}
  {% assign image_links = section.blocks | where: "type", "image_link" %}

  <div class="offcanvas-menu__wrapper off-canvas__wrapper offcanvas-menu__content">
    <div class="offcanvas-menu__panel offcanvas-menu-panel">
      <div class="offcanvas-menu__inner"
        x-data="
          {
            mainMenuOpened: true,
            innerMenuOpened: false,
            innerMenus: {
              {%- for inner_menu in inner_menus -%}
                '{{- inner_menu.settings.handle -}}': false{%- unless forloop.last -%},{%- endunless -%}
              {%- endfor -%}
            }
          }
        ">
        <button class="close-button close"
          aria-label="Close cart"
          type="button"
          role="button"
          x-data
          @click='$store["offCanvasMenu"].closeOffcanvas()'>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="none" stroke="currentColor" stroke-width="5" stroke-miterlimit="10" transform="translate(0.530334 0.530209)" d="M35.855339 2.5801583e-13L0.5 35.355339M35.355339 35.855339L-6.5580874e-13 0.5" fill-rule="evenodd"></path>
          </svg>
        </button>

        {% if search_block != blank %}
          {% render 'search__form', predictive: true, custom_id: "-Offcanvas", search_icon: true %}
        {% endif %}
        <div class="offcanvas-menu__blocks"
          x-show="mainMenuOpened"
          x-transition:enter-start="opacity-0 -translate-x-full"
          x-transition:enter-end="opacity-100 translate-x-0"
          x-transition:leave-start="opacity-100 translate-x-0"
          x-transition:leave-end="opacity-0 -translate-x-full"
          x-cloak>
          {% for block in section.blocks %}
            {%- case block.type -%}

              {%- when "menu" -%}
                {% if block.settings.menu != blank %}
                  <ul class="offcanvas-menu__menu">
                    {% for item in block.settings.menu.links %}
                      {% assign assigned_image_links = image_links | map: "settings" | where: "menu_label", item.title %}
                      <li
                        {% if assigned_image_links != blank %}
                          class="has-image-links"
                        {% endif %}>
                        {% assign assigned_inner_menu = inner_menus
                          | map: "settings"
                          | where: "trigger_label", item.title
                          | first %}
                        <a href="{{ item.url }}"
                          aria-label="{{ item.title }}"
                          title="{{ item.title }}"
                          {% if assigned_inner_menu != blank %}
                            x-on:click="
                              mainMenuOpened = false;
                              innerMenus['{{- assigned_inner_menu.handle -}}'] = true;
                              setTimeout( () => {
                                innerMenuOpened = true;
                              }, 400 );
                            "
                          {% endif %}>
                          <span class="label">{{ item.title }}</span>
                          {% if assigned_inner_menu != blank %}
                            <span class="indicator">
                              {%- render 'icon__chevrons', position: 'right' -%}
                            </span>
                          {% endif %}
                        </a>

                        {% if assigned_image_links != blank %}
                          <div class="offcanvas-menu__image-links">
                            {% for image_link in assigned_image_links %}
                              <a href="{{ image_link.url }}"
                                aria-label="{{ image_link.label }} {{ image_link.caption }}"
                                title="{{ image_link.label }}"
                                style="--bg-color: {{ image_link.bg_color }}">
                                <span class="label">{{ image_link.label }}</span>
                                <span class="caption">{{ image_link.caption }}</span>
                                {% render 'component__lazyload-image',
                                  image: image_link.image,
                                  width: 360,
                                  widths: "360" %}
                                <span class="indicator">
                                  {%- capture chevron_svg -%}
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="14">
                                      <path fill="none" stroke="{{ section.settings.color_scheme.settings.text | default: '#141723' }}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="matrix(-4.37114e-08 1 -1 -4.37114e-08 6.82227 0.823242)" d="M0 6L6 0L12 6" fill-rule="evenodd"/>
                                    </svg>
                                  {%- endcapture -%}
                                  {% render 'component__svg-encoder',
                                    svg_code: chevron_svg,
                                    width: 36,
                                    height: 36,
                                    alt: "chevron icon" %}
                                </span>
                              </a>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                {%- when "product_menu" -%}
                  {% if block.settings.menu != blank %}
                    <ul class="offcanvas-menu__products" style="--background: {{ block.settings.color }};">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" title="{{ link.title }}"
                          class="offcanvas-menu__products-title">
                            <h2>{{ link.title }}</h2>

                            <button aria-label="{{ link.title }}" title="{{ link.title }}">View All</button>
                          </a>
                          <ul class="offcanvas-menu__products-list">
                            {%- for child_link in link.links -%}
                              {% assign product = child_link.object %}
                              {% assign image = product.featured_image %}

                              <li  class="offcanvas-menu__product">
                                <a href="{{ child_link.url }}" title="{{ child_link.title }}">
                                  {{ image
                                    | image_url: width: 500
                                    | image_tag: width: 500,
                                      height: 500,
                                      widths: "480,600,720,900,1080,1260,1440,1800,2160",
                                      alt: image.alt,
                                      loading: "lazy" }}

                                  <span>{{ child_link.title }}</span>
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </li>
                      {%- endfor -%}
                    </ul>
                {% endif %}

                {%- when "cta_menu" -%}
                  <div class="offcanvas-menu__cta-menu-wrapper">
                    {% if block.settings.title != blank %}
                      <h2>{{- block.settings.title -}}</h2>
                    {% endif %}
                    <ul class="offcanvas-menu__cta-menu">
                      {% for item in block.settings.menu.links %}
                        <li>
                          <a class="button primary" href="{{ item.url }}"
                            aria-label="{{ item.title }}"
                            title="{{ item.title }}">
                            <span class="label">{{ item.title }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
            {%- endcase -%}
          {% endfor %}
        </div>

        {% if inner_menus != blank %}
          {% render 'offcanvas-menu__inner-menus',
            inner_menus: inner_menus,
            inner_menu_products: inner_menu_products,
            inner_menu_menus: inner_menu_menus,
            inner_menu_ctas: inner_menu_ctas %}
        {% endif %}
      </div>
    </div> <!-- .offcanvas-menu__panel -->
  </div>
{%- endcapture -%}
{% render 'mfr-component__offcanvas',
  id: "offCanvasMenu",
  class: "offcanvas-menu",
  position: "left",
  content: mobile_menu_content %}


{% schema %}
{
  "name": "OffCanvas Menu",
  "enabled_on": {
    "groups": ["custom.offcanvas"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "product_menu",
      "name": "Product Menu",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Background Color"
        }
      ]
    },
    {
      "type": "cta_menu",
      "name": "CTA Menu",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "inner_menu",
      "name": "Inner Menu",
      "settings": [
        {
          "type": "text",
          "id": "trigger_label",
          "label": "Trigger Label",
          "default": "Shop"
        },
        {
          "type": "text",
          "id": "handle",
          "label": "Inner Menu Handle",
          "default": "inner-menu-1",
          "info": "Unique identifier. Use this to assign megamenu child blocks to this mega menu."
        },
        {
          "type": "text",
          "id": "products_label",
          "label": "Products Label",
          "default": "Featured"
        }
      ]
    },
    {
      "type": "inner_menu_product",
      "name": "Inner Menu: Product",
      "settings": [
        {
          "type": "text",
          "id": "inner_menu_handle",
          "label": "Inner Menu Handle",
          "default": "inner-menu-1"
        },
        {
          "type": "header",
          "content": "Block Settings"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "product_badge",
          "label": "Product Badge",
          "default": "Best Seller"
        }
      ]
    },
    {
      "type": "inner_menu_menu",
      "name": "Inner Menu: Menu",
      "settings": [
        {
          "type": "text",
          "id": "inner_menu_handle",
          "label": "Inner Menu Handle",
          "default": "inner-menu-1"
        },
        {
          "type": "header",
          "content": "Block Settings"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
        }
      ]
    },
    {
      "type": "inner_menu_cta",
      "name": "Inner Menu: CTA",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "inner_menu_handle",
          "label": "Inner Menu Handle",
          "default": "inner-menu-1"
        },
        {
          "type": "header",
          "content": "Block Settings"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "color_theme",
          "label": "Color Theme",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            }
          ]
        }
      ]
    },
     {
      "type": "search",
      "name": "Search",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Search Bar"
        }
      ]
    },
    {
      "type": "image_link",
      "name": "Image Link",
      "settings": [
        {
          "type": "text",
          "id": "menu_label",
          "label": "Menu Label",
          "info": "Menu label to where this image link will appear"
        },
        {
          "type": "header",
          "content": "Content Settings"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Lorem ipsum"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption",
          "default": "Lorem ipsum dolor sit."
        },
        {
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Offcanvas Menu"
    }
  ]
}
{% endschema %}